.widget {
  color: white;
  display: flex;
  min-height: 400px;
  flex-flow: column;
}

.header {
  position: relative;
  background: none;
  line-height: 36px;
  min-height: 36px;

  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 0 16px;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #222;
  margin-bottom: 20px;
}

.arrow-small-text {
  margin: 0px 10px;
  color: #408fec;
}

//.spin {
//  width:100px;
//  height:100px;
//  background:red;
//}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}

.spin.animated {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
}

.notFoundStyle {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

}

.notFoundTitle {
  font-size: 22px;
  font-weight: 100;
  margin-top: 15px;
  color: #47494E;
  margin-bottom: 8px
}

.smallTextarrow {
  margin: 0px 10px;
  color: #408fec
}

.smallText {
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  font-size: 15px;
  color: #7F828B;
  line-height: 21px;
  margin-bottom: 4px
}

.star {
  font-size: 20px;
  color: orange;
  margin-right: 10px;
}

.starBig {
  font-size: 60px;
  color: gray;
  margin-right: 10px
}

.starBigOrange {
  font-size: 60px;
  color: orange;
  margin-right: 10px
}

//.header {
//  font-size: 18px;
//  background: none;
//  color: #fff;
//  line-height: 36px;
//  min-height: 36px;
//  overflow: hidden;
//  border-bottom: 1px solid #fa6200;
//  padding: 10px 16px;
//  display: -webkit-flex;
//  display: flex;
//  /* -webkit-justify-content: space-between; */
//  /* justify-content: space-between; */
//  -webkit-align-items: center;
//  align-items: center;
//  background: #fa6200;
//  margin: 10px 17px;
//  border-top-right-radius: 5px;
//  border-top-left-radius: 5px;
//}

