.category{
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0,0,0,.38);
  float: left;
  margin-left: 10px;
}

.filter_name{
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:150px;
  float: left;
}

div ul li
{
  margin: 5px;
}

div ul li i
{
  float:right ; /* | top | bottom */

}
